<div class="container d-flex flex-column justify-content-center align-items-center background-image mt-5">
    <h1> Find the perfect starship for your travel ! </h1>
    <button type="button" class="btn btn-warning btn-large mt-5">See all starships</button>
    <%#<%= link_to "See all starships", starships_path, class: "btn btn-warning mt-5"%>
</div>
