<div class=" background-image">
    <div class="second-container">
      <h1> Find the perfect starship for your travel ! </h1>
      <%= link_to "See all starships", starships_path, class: "btn btn-primary"%>
    </div>
</div>
