body {
  background-image: url("https://rare-gallery.com/uploads/posts/985243-science-fiction-Star-Trek-spaceship.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat, repeat;
  background-attachment: fixed;

  h1, h2{
    color:white;
  }
  z-index: 100;
}
