.card-rental-card {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px gray;
  margin-right: 20px;
  max-width: 1200px;
  margin-bottom: 20px;
}

.card-rental-photo {
  width: 250px;
  height: 200px;
  border: 10px;
}

.card-rental-info {
  padding-left: 30px;
}

.card-rental-header {
  margin-top: 10px;
  margin-bottom: 10px;

}

.card-rental-status {
  display: flex;
  width: 100px;
  height: 40px;
  justify-content: center;
  align-items: center;
  background-color: rgba(26, 137, 23, 1);
  color: white;
  border-radius: 5px;
}
