.cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card-trip {
  overflow: hidden;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 5px;
  }

  h3 {
    font-size : 14px;
    margin: 5px;
  }

  p {
    font-size: 13px;
    opacity: .8;
    margin: 0;
  }
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip {
  .card-trip-infos {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
  }
  .card-trip-pricing {
    color : black;
    font-size: 14px;
  }

}
