.info-starship {
  height: 100vh;
}

.info-starship-card {
  h4{
    text-decoration: underline;
  }
  h3{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  background-color: white;
  padding: 50px;
  padding-top: 0px;

}

.info-starship-bubble {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 1px 1px 3px gray;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.info-starship-img {
  margin-top: 30px;
  margin-bottom: 30px;
}

.info-starship-map {
  z-index: -1;
}
