// .info-starship-header {
//   h1{

//   }
//   padding: 10px;
// }

.info-starship {
  height: 100vh;
}

.info-starship-card {
  h4{
    text-decoration: underline;
  }
  overflow: auto;

}

.info-starship-bubble {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 1px 1px 3px gray;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
}

.info-starship-map {
  z-index: 2;
}

.info-starship-img {
  margin-top: 20px;
  margin-bottom: 20px;
}
