.form-container {
  width: 500px;
  margin: 65px auto;

  .btn {
    border: 25px;
    border-radius: 5px;
    border-bottom: 1px solid #eee;
    background-color: #845EC2;
    margin-bottom: 12px;
    color: white;
  }
}
